<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ShowTime!</title>
</head>
<body>
    <div class="container">
        <h1>All Shows</h1>
        <a href='/'>Go Back</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Networks</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>
                    {% for network in show.networks.all %}
                    {{network.name}}<br>
                    {% endfor %}
                    </td>
                    <td>{{show.releaseDate}}</td>
                    <td>
                        <a href="/shows/{{show.id}}">Show</a>
                        <a href="/shows/{{show.id}}/edit">Edit</a>
                        <a href="/shows/{{show.id}}/destroy">Destroy</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/shows/new">Add a New Show</a>
    </div>
</body>
</html>