<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Book Reviews!</title>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        {% if messages %}
        <div class="row">
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row">
            <form class="col" action={% url 'reviewBooks:register' %} method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="alias">Alias</label>
                    <input type="text" class="form-control" name="alias">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password">
                </div>
                <p>*Password must be at least 8 characters</p>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input type="text" class="form-control" name="passwordConfirm">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <form class="col" action={% url 'reviewBooks:login' %} method="POST">
                {% csrf_token %}
                <h2>Log In</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>