<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors!</title>
</head>
<body>
    <div class="container">
        <h1>{{header}}</h1>
        <ul>
            <li>{{field0}}: {{requestedObject.id}}</li>
            {% if field2 == "Books" %}
            <li>{{field1}}: {{requestedObject.notes}}</li>
            {% else %}
            <li>{{field1}}: {{requestedObject.desc}}</li>
            {% endif %}
            <li>
                {{field2}}:
                <ul>
                    {% for iter in iterable%}
                        <li>{{iter}}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <form action="{{formAction}}" method="POST">
            {% csrf_token %}
            <select name = "selection">
                {% for opt in options %}
                    <option>{{opt}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="topic" value="{{header}}">
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>