<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h4 class="border center">The current date and time is</h4>
        <div class="border center">
            <h2>{{date}}</h2>
            <h2>{{time}}</h2>
        </div>
    </div>
</body>
</html>